.background {
    background-color: rgb(99, 99, 99);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.statText {
    justify-content: flex-start;
    align-items: center;
    -unity-text-align: upper-left;
}
